

/*GENERAL CSS:*/

body{
    background-color: #cccccc;
    font-family: sans-serif;
    max-width: 100%;
    margin: 0 0;
}

.header-container{
    background-color: #120323;
    color: #97bf04;
    display: flex;
    flex-direction: column;
        text-align: center;
}

.header-container img{
    padding: 1rem 1rem;
}

.header-container nav ul{
    list-style: none;
    padding: 0 0;
}
.header-container nav ul li{
    background-color: #d9043d;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
}

.header-container nav ul li a{
    color:white;
    text-decoration: none;
}

main figure {
    background-color: white;
    padding: 2rem;
    text-align: center;
    max-width: 100%;
    max-width: 650px;
}

main figure img{
    border-bottom:#97bf04 solid 10px; 
    max-width: 100%;
}

main figure figcaption {
    text-align: left;
}

footer {
    background-color: #d9043d;
    color: white;
}




/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*   MOBILE MOBILE MOBILE MOBILE */

@media screen and (max-width:768px) {


    .header-container h1{
        font-size:2rem;
    }
    .header-container nav li{
        max-width: 95%;
        border: solid 2px #97bf04;
        margin: 0 0;
    }


    main{
        display:grid;
        grid-template-columns:auto;
    }

    main h2 {
        text-align: center;
        margin-bottom: 0rem;
        font-size:1.7rem;
        padding: 0.3rem 0.3rem;
    }


    footer{
        padding: 2rem 2rem;
        text-align: center;
        font-size: small;
    }

}

/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
TABLET TABLET TABLET TABLET TABLET*/

@media screen and (min-width:769px) and (max-width:1000px) {

    main{
        display: grid;
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }

    .header-container h1{
        font-size:1.7rem;
    }

    .header-container nav ul {
        background-color: #d9043d;
        padding:1rem;
        margin: 0 0;
    }

    .header-container nav ul li{
        display:inline;
    }

    main h2{
        text-align: center;
        padding-top: 0.5rem;

    }

    #gallery-container{
        display: grid;
        column-count: 2;
        column-gap: 2rem;
        grid-template-columns: 1fr 1fr;
    }

    #gallery-container figure{
        max-width: 100%;
        margin: 1rem 1.5rem;
        padding: 1.5rem 2rem;

    }

    #gallery-container figure img{
        max-width: 100%;
    }

    #gallery-container figure:last-of-type { /*This was the HARDEST THING TO DO EVER.... TOOK ME FOREVER TO FIND THIS :C*/
        grid-column: span 2;
    }
    
    footer{
        padding: 2rem 2rem;
        text-align: center;
    }

}




/*------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
DESKTOP DESKTOP DESKTOP DESKTOP DESKTOP*/

@media screen and (min-width:1001px){

    main{
        display: grid;
    }


    .header-container nav ul {
        background-color: #d9043d;
        padding:1rem;
        margin: 0 0;
        justify-content: center;
        text-align: center;
        
    }
    .header-container nav ul li{
        display:inline;
        justify-content: center;
    }
    .header-container nav ul li a{
        font-size: smaller;
     }

    main h2{
        text-align: center;

    }
    #gallery-container{
        display: grid;
        column-count: 3;
        column-gap: 1.6rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    #gallery-container figure{
        max-width: 100%;
        margin: 1rem 1.5rem;
        padding: 1.5rem 2rem;
        
    }
    #gallery-container figure img{
        max-width: 100%;
    }
    #gallery-container figure figcaption{
        font-size: smaller;
    }

    #gallery-container figure:last-of-type { /*This was the HARDEST THING TO DO EVER.... TOOK ME FOREVER TO FIND THIS :C*/
        grid-column: span 2;
    }

    footer{
        padding: 2rem 2rem;
        text-align: center;
        font-size: smaller;
    }
}

